#ranking
  #fb-stuff
    = render 'facebook_login'
    = render 'nickname_form'
  = render 'info_modal'


  - @players.each_with_index do |player, index|
    = "#{index+1}."
    = player.nickname
    = player.best_score



