#ranking
  = render 'facebook_login'
  = render 'nickname_form'
  = render 'info_modal'

  %h2 Mistrzowie Siorbania

  - @players.each_with_index do |player, index|
    = "#{index+1}."
    // = image_tag(player.image_url)
    = player.nickname
    = player.best_score



