#ranking
  #user-data
    = render 'flash_messages'
    = render 'user_info'
  = render 'info_modal'



  #player-list
    = render 'players'
  %hr
  #logos
    = link_to image_tag('shellyLogo.png'), 'https://shellycloud.com/', target: '_blank'
    = link_to image_tag('craftyLogo.png'), 'http://craftyjs.com/', target: '_blank'
    = link_to image_tag('lapkaZiele.png'), 'http://dobreziele.pl/', target: '_blank'



