#ranking
  #user-stuff
    = render 'user_info'
  = render 'info_modal'


  #player-list
    - @players.each do |player|
      .player-entry
        = "#{player.place_in_ranking}."
        = "#{player.nickname} : "
        = player.best_score



