#ranking
  #user-data
    = render 'flash_messages'
    = render 'user_info'
  = render 'info_modal'


  #player-list
    - @players.each do |player|
      .player-entry
        .place{class: "#{nickname_class(player)}"}
          = "#{player.place_in_ranking}."
        .nickname{class: "#{nickname_class(player)}"}
          = "#{player.nickname}"
        .score{class: "#{nickname_class(player)}"}
          = player.best_score



