!!!
%html
  %head
    %title #{@title}
    %meta{content: "sZ4--LsbNoGYW6P98faBBMim2UyNyZH6j11cCAxXHEo", name: "google-site-verification"}/
    %meta{property: "og:title", content: "#{@title}"}/
    %meta{property: "og:description", content: "#{@description}" }/
    %meta{name: "description", content: "#{@description}" }/
    %meta{name: "og:image", content: "https://siorb.dobreziele.pl/siorbIcon200.png" }/
    %meta{name: "twitter:image", content: "https://siorb.dobreziele.pl/siorbIcon200.png" }/
    %meta{name: "twitter:card", content: "summary" }/
    %meta{name: "twitter:title", content: "#{@title}" }/

    = include_gon
    = favicon_link_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container#main-content
      .row
        = yield

  = render 'analytics'
