!!!
%html
  %head
    %title Siorb - Droga do Rozbudzenia (Gra Yerba Mate Kraków)
    %meta{content: "sZ4--LsbNoGYW6P98faBBMim2UyNyZH6j11cCAxXHEo", name: "google-site-verification"}/
    = include_gon
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container#main-content
      .row
        = yield

  = render 'analytics'
