<!DOCTYPE html>
<html>
<head>
  <title>Siorb - Droga do Rozbudzenia (Yerba Mate)</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'facebook_login' %>
  <%= yield %>
  <%= render 'ranking' %>

  <div id='shelly-logo' >
    <%= link_to image_tag('shellyLogo.png'), 'https://shellycloud.com/', target: '_blank' %>
  </div>

</body>
</html>
